<!--user list-->
<section>
	<div class="top">
		<div><h1 class="text-center">Users</h1></div>
		<div><button mat-stroked-button color="primary"> <a routerLink="/login" > Log Out</a></button></div> 
	</div>

	<table class="table container text-center">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Username</th>
				<th>Email</th>
				<th>DOB</th>
				<th>Age</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		  

			<tr *ngFor="let user of users" >
				<td>{{user.firstName}}</td>
				<td>{{user.lastName}}</td>
				<td>{{user.username}}</td>
				<td>{{user.email}}</td>
				<td>{{user.dob}}</td>
				<td>{{user.age}}</td>
				<td>
					<i class="fa fa-pencil-square-o fa-fw text-primary" aria-hidden="true" (click)="edit(user.email)"></i>
					<i class="fa fa-trash fa-fw text-danger" aria-hidden="true" (click)="delete(user.email)"></i>
				</td>
			</tr>
			<tr *ngIf="users.length === 0">
				<td colspan="7"><p class="text-center text-danger">There are zero users in the database, please register a user</p></td>
			</tr>

		</tbody>
		
	</table>
	<br>
	
</section>	
