<section class="login-section" *ngIf="!isSignUp && !isLoggedIn">
<mat-card>
	<h3>Login</h3>
	<mat-form-field class="example-full-width" appearance="fill" >
  <mat-label>Email</mat-label>
	<input matInput placeholder="email" type="text" [(ngModel)]="authModel.email" />
	</mat-form-field>
	 
	<mat-form-field class="example-full-width" appearance="fill">
		<mat-label>Password</mat-label>

		<input matInput placeholder="enter passcode" type="password" [(ngModel)]="authModel.password"/>
	</mat-form-field>
	<br>
	<button class="button-full-width" mat-raised-button color="primary" (click)="login()">Login</button> <br>
	<br>
	<div class="text-center show-cursor"><a (click)="toggle()">Don't have an account, create</a></div>
</mat-card>

</section>
<section class="register-section" *ngIf="isSignUp">
	<mat-card>
		<h3>Register</h3>
		<div class="">
			<div class="row">
			  <div class="col-6">
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>First Name</mat-label>
					<input matInput placeholder="First Name" type="string" [(ngModel)]="userModel.firstName" />
					</mat-form-field>
			  </div>
			  <div class="col-6">
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Last Name</mat-label>
					<input matInput placeholder="last name" type="string" [(ngModel)]="userModel.lastName" />
					</mat-form-field>
			  </div>
			  
			</div>
		  </div>
		 
			
		<mat-form-field class="example-full-width" appearance="fill">
			<mat-label>Username</mat-label>
			<input matInput placeholder="username" type="string" [(ngModel)]="userModel.username" />
			</mat-form-field>
		<!--use bootstrap to create one row and twelve col/2 (mat-card: 1row, 2x mat-form-field: 6col - create a div - a parent div for two fields first name and last name)-->
		<mat-form-field class="example-full-width" appearance="fill">
		<mat-label>Email</mat-label>
		<input matInput placeholder="email" type="email" [(ngModel)]="userModel.email" />
		</mat-form-field>
		 
		<mat-form-field class="example-full-width" appearance="fill">
			<mat-label>Password</mat-label>
	
			<input matInput placeholder="enter passcode" type="password" [(ngModel)]="userModel.password"/>
		</mat-form-field>
		<div class="">
			<div class="row">
			  <div class="col-5">
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Age</mat-label>
					<input matInput placeholder="Age" type="string" [(ngModel)]="userModel.age" />
					</mat-form-field>
			  </div>
			  <div class="col-7">
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>DOB</mat-label>
					<input matInput placeholder="Date Of Birth" type="string" [(ngModel)]="userModel.dob" />
					</mat-form-field>
			  </div>
			  
			</div>
		  </div>
		<button class="button-full-width" mat-raised-button color="primary" (click)="register()">Register</button> <br>
		<br>
		<div class="text-center show-cursor"><a (click)="toggle()">Already have an account</a></div>
	</mat-card>
	
</section>
<!--user list-->
<section *ngIf="isLoggedIn">
	<h1>Users</h1>
	<p>logged in</p>
	
	<!--
		Create a bootstrap table - use ngFor, for creating table rows
		syntax - 
		table 
		th - hardcoded like firstname, lastname, username, enmail 
		tr - > *ngFor="let user of users(userDB)"
		td - > {{user.firstName}} - interpolation
		td - > {{user.firstName}} - interpolation
		td - > {{user.firstName}} - interpolation
		td - > {{user.firstName}} - interpolation
	-->
</section>	
