<section class="login-section mt-5" >
<mat-card>
	<h3>Login</h3>
	<mat-form-field class="example-full-width" appearance="fill" >
  <mat-label>Email</mat-label>
	<input matInput placeholder="email" type="text" [(ngModel)]="authModel.email" />
	</mat-form-field>
	 
	<mat-form-field class="example-full-width" appearance="fill">
		<mat-label>Password</mat-label>

		<input matInput placeholder="enter passcode" type="password" [(ngModel)]="authModel.password"/>
	</mat-form-field>
	<br>
	<button class="button-full-width" mat-raised-button color="primary" (click)="login()">Login</button> <br>
	<br>
	<div class="text-center show-cursor mb-4"><a routerLink="/register">Don't have an account, create</a></div>
</mat-card>
</section>


